@{
    ViewBag.Title = "Home Page";
}

<div class="center-block">
    @if (Request.IsAuthenticated)
    {
        
        <div>
            <h4>Name: @Model.Name</h4>
            <h4>Email: @Model.Email</h4>
            <h4>Address: @Model.Address</h4>
            <h4>Are You Admin: @(Model.IsAdmin ? "Yes" : "No")</h4>
        </div>
        
        if (Model.PreviousAddresses != null && Model.PreviousAddresses.Any())
        {
            <h4>Previous Addresses:</h4>
            <ul>
                @foreach (var address in Model.PreviousAddresses)
                {
                    <li>@address</li>
                }
            </ul>
        }
        else
        {
            <h4>No previous addresses available.</h4>
        }
        
    }
    else
    {
        <h1>please login to authenticate</h1>
    }
</div>
